@media only screen and (min-width: 800px) {


    html {

        margin-left: 100px;
        margin-right: 100px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    header h1,
    footer p {

        border-radius: 15px 50px;
        padding: 20px;
    }


    h3 {
        border-bottom: solid;
    }



    #me {
        float: right;
        margin-top: 15px;
        margin-right: 30px;
        border-radius: 15px;
    }
}
