@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/


body {
    font-size: 16px;
    background-color: #bfc0c0;
    font-family: 'Roboto', sans-serif;
}

/* phone or baseline views **************************/
header,
footer {
    background-color: #2d3142;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}

header,
nav,
main,
footer {
    max-width: 767px;
    margin: 0 auto;
}
h1 {
    font-size: 2rem;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
h2, h3, h4, h5, h6{
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}
h2{
    font-size:2.25em;
}
h3{
    font-size:1.5em;
}
p{
    font-family:'Roboto', sans-serif;
    font-size: 1.25em;

}
nav {
    background-color: #4f5d75;
    text-align: center;
    box-shadow: 0 2px 15px #262626;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}
nav a:hover {
    background-color: #ef8354;
    color: #ffffff;
}
.active {
    color: #ef8354;
}
main {
    /*display: grid;
    grid-template-columns: 1fr;*/
    font-size: 0.8rem;
}
main article {
    margin: 0.5rem;
    border: 1px solid #bfc0c0;
    padding: 0 1rem;
    background-color: #ffffff;
}
main picture {
    display: none;
    margin: 0.5rem;
}

footer {
    flex: 0 1 100%;
    height: 6rem;
    color: #ffffff;
}

/*color containers*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 10px;
}
.grid-item1{
  background-color:#2d3142;
  border: 6px solid #ffffff;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}
.grid-item2{
    background-color: #BFC0C0;
    border: 6px solid #ffffff;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    color: #000000;
  }
  .grid-item3{
    background-color:#000000;
    border: 6px solid #ffffff;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
  }
  .grid-item4{
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    color: #000000;
  }
  .grid-item5{
    background-color: #ef8354;
    border: 6px solid #ffffff;
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
  .grid-item6{
    background-color: #4f5d75;
    border: 6px solid #ffffff;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
  }
          

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
    /* Horizontal Menu Examples */
    /* Flex *********************/
    /*  nav ul { display: flex; }
        nav ul li { flex: 1 1 100%; }
    */

    /* Grid *********************/
            nav ul { 
                display: grid;
                grid-template-columns: repeat(4, 1fr);
              /*  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));*/
            }

    /* Inline-Block             */
    /*
            nav li {display: inline-block;}
    */

    /* Float                    */
    /*
            nav li {float:left; margin-right:15px;}
            main {clear:both;}
    */

/*******************************************************/
    
    nav a {
        font-size: 1rem;
    }
    main {
        grid-template-columns: 1fr 1fr;
    }
    article:nth-child(3) {
        grid-column: span 2;
    }
    main picture {
        display: block;
    }
    main picture img {
        width: 100%;
        height: auto;
        border: 1px solid #bbb;
    }
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
    nav a {
        font-size: 1.1rem;
    }
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    article:nth-child(3) {
        grid-column: span 1;
    }
}