


html {  box-sizing: border-box; }

*, *:before, *:after {  box-sizing: inherit; }

p{  padding: 5px; }

.col-container{
 	font-size: 0px;
}

.col-container > *{
  font-size: 1rem;
}

.col {
      margin: 3%;
      display: inline-block; 
      background: gray;
}

.onefourth{
 	width: 19%; 
}
.onethird{
	width:  27.3%;
}

.twothirds{
  width: 60.6%;
}

.threefourths{
	width:  69%;
}

.onehalf{
  	width: 44%;
}

.onefith{
  	width: 14%;
}

.oneseventh{
 	width: 8.2857% ; 
}

.sixseventh{
 	width: 79.714%; 
}