@media only screen and (min-width: 800px) {
    .col {
        display: inline-grid;
        */
    }

    .onethird {
        width: 27%;
    }

    html {

        margin-left: 100px;
        margin-right: 100px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

}