
  
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/


body {
    font-size: 16px;
    background-color: #bfc0c0;
    font-family: 'Roboto', sans-serif;
}

/* phone or baseline views **************************/
header,
footer {
    background-color: #2d3142;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}

header,
nav,
main,
footer {
    max-width: 767px;
    margin: 0 auto;
}
h1 {
    font-size: 2rem;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
h2, h3, h4, h5, h6{
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}
h2{
    font-size:2.25em;
}
h3{
    font-size:1.5em;
}
p{
    font-family:'Roboto', sans-serif;
    font-size: 1.25em;

}
nav {
    background-color: #4f5d75;
    text-align: center;
    box-shadow: 0 2px 15px #262626;
}


main {
    /*display: grid;
    grid-template-columns: 1fr;*/
    font-size: 0.8rem;
}
main article {
    margin: 0.5rem;
    border: 1px solid #bfc0c0;
    padding: 0 1rem;
    background-color: #ffffff;
}
main picture {
    display: none;
    margin: 0.5rem;
}

footer {
   
    height: 6rem;
    color: #ffffff;
}


          

    
    nav a {
        font-size: 1rem;
    }
    main {
        grid-template-columns: 1fr 1fr;
    }
    article:nth-child(3) {
        grid-column: span 2;
    }
    main picture {
        display: block;
    }
    main picture img {
        width: 100%;
        height: auto;
        border: 1px solid #bbb;
    }
}
