/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/


body {
    font-size: 16px;
    background-color: #bfc0c0;
    font-family: 'Roboto', sans-serif;
}


header {

    align-items: center;
    justify-content: center;
}

footer {
	background-color: #fff;
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

footer img {
    width: 100%;
	height: auto;
}

header img {
    width: 80px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}

.m {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1pt;
    color: #fff;
    margin-left: 20px;
}

header,
footer {
    background-color: #2d3142;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

header,
nav,
main,
footer {
    max-width: 767px;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}

nav {
    font-family: Cerdana, sans-serif;
    background-color: #4f5d75;
    text-align: center;
    box-shadow: 0 2px 15px #262626;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0, 0, 0, .3);
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, .4);
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, .2);
    color: #fff
}

nav ul.hide {
    display: none;
}

main article {
    margin: 0.5rem;
    border: 1px solid #bfc0c0;
    padding: 0 1rem;
    background-color: #ffffff;
}

footer {

    height: 8rem;
    color: #ffffff;
}


/*main picture {
    display: block;
}
*/
section div img {
    width: 100%;
    height: auto;
}






/*article img{
    display: inline;
    float: right;
}
*/




/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}