/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    nav ul li a {
        padding: .9rem 2.63rem;
    }

    .m {
        letter-spacing: 1.5pt;
        font-size: larger;
        margin-left: 17px;
    }

}

/*end large */