

img {
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

section{
    border: 1px solid rgba(181, 131, 141, 1);
    box-shadow: 10px 10px 5px rgba(181, 131, 141, 1);
    background-color: #e5989b;
    padding-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    overflow: auto;
    width: 100%;
    height: auto;
    line-height: 15px;
}